<div class="p-2 w-full  grid justify-items-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
    <div class="grid grid-cols-3 h-full w-full">
        <div class="md:col-span-2 sm:col-span-3">
            <% if !@foods.blank? %>
            <%if @foods.count>1%>
                <% for food in @foods %>
                    <%=render '/layouts/card',food:food %>
                <%end%>


            <%else%>
                 <%=render '/layouts/card',food:@foods %>

                <%end%>
            <% else %>
                <p>No food available</p>
            <%end%>
        </div>
        <!-- ... -->
        <div class="md:col-span-1 sm:col-span-3">
            <div class="w-4/12 h-8/10 bg-gradient-to-r from-indigo-500  fixed mr-3 p-3 text-white">
                <%if user_signed_in?%>
                <h3>Current Order</h3>
                <div class="mt-2 bg-purple-500 p-2 content-center">
                    <%if !@orders.blank?%>
                    <%order = sort_collection(@orders).first%>
                    <div class="justify-center text-sm">
                        <h3 class="">
                            <%=order.food.name%>
                        </h3>
                        <li class=" p-2 text-xsm ">Ordered :
                            <%=time_ago_in_words(order.created_at)%> ago</li>
                        <li class=" p-2 text-xsm">Status
                            :<%=order.status%>
                        </li>
                    </div>
                    <%end%>
                </div>
                <hr width="100%" class="m-3">
                <h3>Pending orders</h3>
                <table class="table-auto text-sm w-100">
                    <thead>
                        <tr>
                            <th>
                                <h4 class="text-sm"> Order</h4>
                            </th>
                            <th>Status</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="mt-2 p-4">
                            <%if !@orders.blank?%>
                            <%for order in @orders %>
                            <tr class="">
                                <td class="mr-2">
                                    <h2><%=order.food.name%></h2>
                                </td>
                                <td class="mr-2"><%=order.status%></td>
                                <%if !order.shipping_address.blank?%>
                                <td class="m-6"><%=order.shipping_address.address_name%></td>
                                <%else%>
                                <td class="m-6">Address unavailable</td>
                                <%end%>
                            </tr>
                            <%end%>
                            <%end%>
                        </div>
                    </tbody>
                </table>
                <%else%>
                <h3 class="mt-2 text-4xl bg-gradient-to-r from-cyan-800 to-blue-900  rounded-lg p-3">Latest orders</h3>
                <table class="table-auto text-sm w-100">
                    <thead>
                        <tr>
                            <th>
                                <h4 class="text-sm">Order</h4>
                            </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="mt-2 p-4">
                            <%if !@orders.blank?%>
                            <%for order in @orders %>
                            <tr class="">
                                <td class="mr-2">
                                    <h2 class="bg-purple-500 p-1 rounded-lg"><%=order.food.name%> was ordered</h2>
                                </td>
                                <td class="mr-2"><%=order.status%></td>
                            </tr>
                            <%end%>
                            <%end%>
                        </div>
                    </tbody>
                </table>
                <div class="flex justify-center">
                    <div>
                        <%=button_to "Sign in to make an order", user_session_path,class:"place-self-center p-3 pl-4 pr-4 cursor-pointer bg-blue-600 rounded-xl" %>
                    </div>
                </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
