

<div class="flex justify-center content-center ">


<div class="w-2/6 h-full m-20 bg-blue-300 text-center place-self-center p-2 rounded-lg">
<h2 class="text-3xl text-white">Confirm Order</h2>

<div class="text-left p-10">



<p>
  <strong>Order datetime:</strong>



  <div class="work_profile_attribute p-2">
    Order Name: <%= @order.food.name %>
  </div>
</p>

<p>
  <strong>Delivery Address :</strong>
  <div class="work_profile_attribute p-2">

    
     <%= @order.shipping_address.address_name%>
     <%= @order.shipping_address.address_line1%>
     <%= @order.shipping_address.address_line2%>
     <%= @order.shipping_address.address_city%>
     <%= @order.shipping_address.address_zip%>
  </div>
</p>

<p>
  <strong>User:</strong>
  <div class="work_profile_attribute p-2">
    Name: <%= @order.user.name%><br>
    Email: <%= @order.user.email%>
  </div>


</p>

<div class="">
<%= link_to 'Edit', edit_order_path(@order),class:"px-3 py-2 text-white bg-blue-600 hover:bg-blue-700 block w-full rounded-md sm:text-sm mb-1" %> 
<%= link_to 'Confirm Order', new_order_line_item_path(@order),class:"px-3 py-2 text-white bg-blue-600 hover:bg-blue-700 block w-full rounded-md sm:text-sm mt-1"%>



</div>



</div>




</div>



</div>

