
<%= form_with(model:shipping_address, url:url,local: true) do |form| %>
  <% if shipping_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipping_address.errors.count, "error") %> prohibited this shipping_address from being saved:</h2>

      <ul>
        <% shipping_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

     <div class="field">
    <%= form.label :address_name%>
    <%= form.text_field :address_name,class:"mt-1 px-3 py-2 bg-white border shadow-sm  placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-2"%>
  </div>
    <div class="field">
    <%= form.label :address_lin1e %>
    <%= form.text_field :address_line1,class:"mt-1 px-3 py-2 bg-white border shadow-sm  placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-2"%>
  </div>

  <div class="field">
    <%= form.label :address_line2 %>
    <%= form.text_field :address_line2,class:"mt-1 px-3 py-2 bg-white border shadow-sm  placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-2" %>
  </div>


   <div class="field">
    <%= form.label :address_city %>
    <%= form.text_field :address_city,class:"mt-1 px-3 py-2 bg-white border shadow-sm  placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-2"%>
  </div>

  <div class="field">
    <%= form.label :address_state %>
    <%= form.text_field :address_state,class:"mt-1 px-3 py-2 bg-white border shadow-sm  placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-2" %>
  </div>


    <div class="field">
    <%= form.label :address_zip%>
    <%= form.text_field :address_zip,class:"mt-1 px-3 py-2 bg-white border shadow-sm  placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-2" %>
  </div>

      <div class="field">
    <%= form.hidden_field :order_id, value:params[:order_id]%>
  </div>

 

  <div class="actions">
    <%= form.submit class:"px-3 py-2 text-white bg-blue-600 hover:bg-blue-700 block w-full rounded-md sm:text-sm" %>
  </div>
<% end %>


