<%= javascript_pack_tag 'pages/home', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'pages/createCart', 'data-turbolinks-track': 'reload' %>

<div class="p-2 w-full justify-items-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
    <div class="w-100 lg:w-8/12 md:w-12/12 mt-4">
        <%=render 'layouts/search'%>
        <div id="result-wrapper" class="ml-10 relative mr-3 mt-1 ml-4">
            <% if !foods.blank?  && foods.count == 1%>
            <div>
                <%=button_to 'See all foods' ,root_path, method: :get,class:"text-md hover:bg-indigo-900 p-1 pr-2 pl-2 w-30 bg-indigo-700 rounded-sm text-white", :onclick=>"cleanOnClick()"%>
            </div>
            <%end%>
         
        </div>
    </div>

  
    <div class="lg:flex lg:flex-row sm:flex-col sm:flex">
        <%# <%= :partial => '/layouts/search'> %>
        <div class="lg:w-8/12 md:w-12/12 sm:order-last lg:order-first">
        <input id="user_status" style="display:hidden" value="<%=user_signed_in? == true ? 'signed_in': "guest"%>" hidden>

            <% if !foods.blank? %>
            <%if foods.count>1%>
            <% for food in foods %>
            <%=render '/layouts/card',food:food%>
            <%# <%=render '/layouts/order_form',food:food %> 
            <% end %>
            <%else%>
            <%=render '/layouts/card',food:foods.first %>
            <%# <%=render '/layouts/order_form',food:food %>
            <%end%>
            <% else %>
            <p>No food available</p>
            <%end%>
        </div>
        <!-- ... -->
        <div class="lg:w-4/12 md:w-12/12 sm:order-first lg:order-last ">
            <%=render '/layouts/floating_card',line_items:line_items %>
        </div>
    </div>


</div>

<div class="flex items-center justify-center h-full">
  <button class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700" onclick="toggleModal()">Show Modal</button>
</div>


<div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="modal">
  <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-900 opacity-75">
    </div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
    <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 h-400 w-400">
      <h3>Please log in to make an order</h3>
        
      </div>
      <div class="flex flex-row bg-gray-200 px-4 py-3 text-right">
        <button type="button" id="modal-cancel" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="toggleModal()"><i class="fas fa-times"></i> Cancel</button>
        <%= button_to "Log In", user_session_path,id:"modal-create",class:"py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700 mr-2" %>

      </div>
    </div>
  </div>
</div>
