<tr class="<%= cycle('', 'alt') %> line-item">
  <td class="cart-item-image" data-hook="cart_item_image">
    <% if !line_item.food.image_url.present?%>
        <img src="<%image_tag(food.image_url)%>"/>

    <% end %>
  </td>
  <td class="cart-item-description" data-hook="cart_item_description">
    <h4><%= line_item.food.name %></h4>
    <span class="line-item-description" data-hook="line_item_description">
      <%= line_item.food.description %>
    </span>
  </td>
  <td class="cart-item-price" data-hook="cart_item_price">
    <%= line_item.food.price.to_html %>
  </td>
  <td class="cart-item-quantity" data-hook="cart_item_quantity">
    <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
  </td>
  <td class="cart-item-total" data-hook="cart_item_total">
    <%= line_item.price.to_html unless line_item.amount.nil? %>
  </td>
  <td class="cart-item-delete" data-hook="cart_item_delete">
    <%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
  </td>
</tr>