
<div class="  ">
    <%if food.published?%>
    <div class="h-7/12" id="<%=food.id%>">
        <div class="flex shadow-lg w-100 bg-white rounded-10">
        <div class="w-5/12">
        <%= image_tag food.image_url,class:"w-11/12 h-full ",alt:food.image_url.split('/')[-1].split('.')[0]%>

        
        </div>
            <div id="card" class="center p-3 w-7/12  justify-content-center">
                <div class="dish ">
                    <h1 id="food-name-<%=food.id%>" class="text-red-500 text-4xl "><%=food.name%> </h1>
                </div>
                <div class="description break-normal whitespace-pre-line h-4/4 ">
                    <p class="text-xl">
                        <%=food.description%>
                    </p>
                </div>
                <div
                    class="footer flex xlg:space-x-100  lg:space-x-60 md:space-x-50 sm:space-x-20  pl-10 pr-10 pt-4 pb-4">
                    <div class="amount justify-content-start text-green-400">
                        <h3 class="text-2xl">$<span id="food-price-<%=food.id%>"><%=food.price%></span></h3>
                    </div>
                    <div id="cart-button-<%=food.id%>"
                        class="p-4 pt-2 pb-2 cart-button text-white cursor-pointer text-2xl  w-70 add_cart bg-indigo-400 drop-shadow-2xl  rounded-sm">
                        <div id="add-button-<%=food.id%>" class="add btn-1 flex flex-row  ">
                            <input type="checkbox" data-remote="false" data-url="/test"
                                data-params="food_id=<%=food.id%>" class="" data-method="post"
                                style="display: none"> ADD <i class="fas fa-plus text-white w-10 ml-2  "></i>
                        </div>
                        <div id="added-button-<%=food.id%>"
                            class="added btn-2 hidden flex flex-row  increment rounded-sm w-25">
                            <span onclick="incrementValue(<%=food.id%>)" class="order-3">
                            <i class="fas fa-plus text-white w-8 ml-2 "></i>
                            </span>

                            <input id="number-input-<%=food.id%>" data-remote="false"
                                data-url="/add_to_cart/<%=food.id%>" data-params="food_id=<%=food.id%>" type="number"
                                step="1" value="1" class="text-blue-600 w-10 pr-1 pl-1 rounded-md order-2"
                                data-method="post" />
                            <span onclick="decrementValue(<%=food.id%>)" class="order-1">
                            <i class="fas fa-minus-circle w-8  mr-2  text-white "></i>
                            </span>
                        </div>
                    </div>
                    <%# <%= button_to 'Order Now', new_food_order_path(:food_id=>food.id),method:"get",class:"cursor-pointer text-white bg-gradient-to-r from-blue-500 hover:text-white-800 rounded-full w-26 p-4 pl-5 bg-blue-600 visited:text-white"%>
                </div>
            </div>
        </div>
    </div>
    <%end%>
</div>
